@tailwind base;
@tailwind components;
@tailwind utilities;

html,
body,
:root {
  height: 100%;
  font-family: 'Aniyah Personal Use', sans-serif;
}

@layer base {
  :root {
    --background: 0 0% 100%;
    --foreground: 222.2 84% 4.9%;

    --card: 0 0% 100%;
    --card-foreground: 222.2 84% 4.9%;

    --popover: 0 0% 100%;
    --popover-foreground: 222.2 84% 4.9%;

    --primary: 222.2 47.4% 11.2%;
    --primary-foreground: 210 40% 98%;

    --secondary: 210 40% 96.1%;
    --secondary-foreground: 222.2 47.4% 11.2%;

    --muted: 210 40% 96.1%;
    --muted-foreground: 215.4 16.3% 46.9%;

    --accent: 210 40% 96.1%;
    --accent-foreground: 222.2 47.4% 11.2%;

    --destructive: 0 84.2% 60.2%;
    --destructive-foreground: 210 40% 98%;

    --border: 214.3 31.8% 91.4%;
    --input: 214.3 31.8% 91.4%;
    --ring: 222.2 84% 4.9%;

    --radius: 0.5rem;
  }

  .dark {
    --background: 222.2 84% 4.9%;
    --foreground: 210 40% 98%;

    --card: 222.2 84% 4.9%;
    --card-foreground: 210 40% 98%;

    --popover: 222.2 84% 4.9%;
    --popover-foreground: 210 40% 98%;

    --primary: 210 40% 98%;
    --primary-foreground: 222.2 47.4% 11.2%;

    --secondary: 217.2 32.6% 17.5%;
    --secondary-foreground: 210 40% 98%;

    --muted: 217.2 32.6% 17.5%;
    --muted-foreground: 215 20.2% 65.1%;

    --accent: 217.2 32.6% 17.5%;
    --accent-foreground: 210 40% 98%;

    --destructive: 0 62.8% 30.6%;
    --destructive-foreground: 210 40% 98%;

    --border: 217.2 32.6% 17.5%;
    --input: 217.2 32.6% 17.5%;
    --ring: 212.7 26.8% 83.9%;
  }
}

@layer base {
  * {
    @apply border-border;
  }

  body {
    @apply bg-background text-foreground;
  }
}


.bg-black {
  background-color: black;
  /* Set the background color to black */
}

.logo-slider {
  height: 100px;
  position: relative;
  width: 100%;
  background-color: black;
}

.slide-track {
  animation: scroll 40s linear infinite;
  display: flex;
  width: calc(250px * 6);
  background-color: black;
}

.slide {
  height: 100px;
  width: 250px;
  background-color: black;
}

@keyframes scroll {
  0% {
    transform: translateX(0);
    /* Start from the beginning */
  }

  100% {
    transform: translateX(-100%);
    /* Slide left across entire width */
  }
}


/* Gallery Component */
.gallery {
  display: flex;
  flex-wrap: wrap;
  width: 100%;
  overflow: hidden;
  max-width: 1300px;
  margin: auto;
}

.gallery__strip {
  min-height: 100vh;
}

.gallery__strip__wrapper {
  flex: 0 0 100%;
  justify-content: flex-end;
  background: #F8FAFC;
  position: relative;
}

@media (min-width: 500px) {
  .gallery__strip__wrapper {
    flex: 0 0 50%;
  }
}

@media (min-width: 950px) {
  .gallery {
    margin-top: 20px;
    height: 100vh;
  }

  .gallery__strip.one {
    animation: 60s move-it ease alternate infinite 5s;
    transform: translateY(2%);
  }

  .gallery__strip.two {
    animation: 58s move-it-2 ease alternate infinite 5s;
    transform: translateY(-50%);
  }

  .gallery__strip.three {
    animation: 70s move-it ease alternate infinite 6s;
    transform: translateY(2%);
  }

  .gallery__strip.four {
    animation: 65s move-it-2 ease alternate infinite 5.5s;
    transform: translateY(-50%);
  }

  .gallery__strip:hover {
    animation-play-state: paused;
  }

  .gallery__strip__wrapper {
    flex: 0 0 25%;
  }
}

.photo {
  position: relative;
  text-align: right;
  padding-bottom: 3rem;
  cursor: pointer;
}

.photo__image {
  transition: transform 0.3s ease;
  /* Add a smooth transition for scaling */
}

.photo__image img {
  width: 90%;
  transition: transform 1s cubic-bezier(0.19, 1, 0.22, 1) 0.2s;
  /* Transition for image scaling */
  border-radius: 8px;
}

.photo:hover .photo__image img {
  transform: scale(1.1);
  /* Scale the image up */
}

/* Keyframes */
@keyframes move-it {

  0%,
  90%,
  100% {
    transform: translateY(2%);
  }

  45% {
    transform: translateY(-50%);
  }
}

@keyframes move-it-2 {

  0%,
  90%,
  100% {
    transform: translateY(-50%);
  }

  45% {
    transform: translateY(5%);
  }
}

/* End of Gallery Component */

@keyframes infinite-scroll {
  0% {
    transform: translateX(0);
  }

  100% {
    transform: translateX(-50%);
    /* Change to -100% for left scrolling */
  }
}

.animate-infinite-scroll {
  animation: infinite-scroll 45s linear infinite;
  /* Adjust duration as necessary */
}

/* Container styles */
.slider-container {
  display: flex;
  overflow: hidden;
  /* Hide overflow to create the carousel effect */
  position: relative;
}

.slider-content {
  display: flex;
  /* Flexbox to align items */
  animation: infinite-scroll 10s linear infinite;
}

.item {
  margin: 0 16px;
  /* Add some space between items */
}

.item-icon {
  height: 48px;
  /* Adjust the size as needed */
  width: 48px;
  /* Adjust the size as needed */
  color: gray;
  /* Adjust the color as needed */
}

/* End of Infinite certifications slider */


/* */

/* center the blockquote in the page */
.blockquote-wrapper {
  display: flex;
}

/* Blockquote main style */
.blockquote {
  position: relative;
  font-family: 'Montserrat', sans-serif;
  font-weight: 800;
  color: #ffffff;
  padding: 30px;
  width: 100%;
  padding-left: 30px;
  padding-right: 30px;
  z-index: 1;
  align-self: center;
  border-top: solid 1px;
  border-bottom: solid 1px;
}

.blockquote:after {
  position: absolute;
  content: "”";
  color: #E5E4E2;
  font-size: 5rem;
  line-height: 0;
  bottom: -20px;
  right: 30px;
}

/* increase header size after 600px */
@media all and (min-width: 600px) {
  .blockquote h1 {
    font-size: 60px;
  }

}

/* Blockquote subheader */
.blockquote h4 {
  position: relative;
  color: #292a2b;
  font-size: 1.4rem;
  font-weight: normal;
  line-height: 1;
  margin: 0;
  padding-top: 20px;
  z-index: 1;
}

.cl-avatarBox {
  width: 2.4rem;
  height: 2.4rem;
}

.cl-userButtonPopoverCard {
  z-index: 99999999;
}

@media (max-width: 768px) { 
  .cl-userButtonPopoverCard {
    margin-left: 16px;
  }
}